@import url("https://fonts.googleapis.com/css?family=Bowlby+One|Roboto+Slab|Vast+Shadow");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, button {
  border: none;
  outline: none; }

* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  font-family: "Roboto Slab"; }

body {
  font-family: "Roboto Slab";
  box-sizing: border-box;
  color: #fff;
  height: 100%; }
  body .hl {
    width: 500px;
    height: 2px;
    margin: auto;
    margin-top: 60px;
    background-color: #222629; }
  body .customInput {
    height: 30px;
    border: #222629 solid 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #fff;
    color: #222629; }

.Footer {
  display: flex; }

.ProjectPage {
  width: 100vw;
  height: 100%; }
  .ProjectPage .heroContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 60px;
    background-color: yellow; }
    .ProjectPage .heroContainer img {
      width: 100%;
      border: 5px solid #000; }
    .ProjectPage .heroContainer .heroContent {
      position: absolute;
      width: 50%;
      top: 50%;
      left: 50%;
      margin-left: -25%;
      margin-top: -12%;
      padding: 30px;
      border: 3px solid #a0e540;
      background-color: #474b4f; }
      .ProjectPage .heroContainer .heroContent h1 {
        width: 100%;
        font-size: 300%;
        font-weight: bold;
        text-align: center; }
      .ProjectPage .heroContainer .heroContent p {
        width: 90%;
        font-size: 180%;
        line-height: 30px;
        text-align: center;
        margin: auto;
        margin-top: 30px; }
  .ProjectPage .infoContainer {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px; }
    .ProjectPage .infoContainer .leftHalf {
      width: 72%; }
      .ProjectPage .infoContainer .leftHalf h2 {
        width: 100%;
        font-size: 300%;
        text-align: center; }
      .ProjectPage .infoContainer .leftHalf p {
        width: 80%;
        margin: auto;
        font-size: 150%;
        line-height: 30px;
        text-align: center;
        margin-top: 50px; }
    .ProjectPage .infoContainer .rightHalf {
      width: 24%; }
      .ProjectPage .infoContainer .rightHalf .contactInfo {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 150px;
        margin: auto;
        margin-top: 10px;
        border-bottom: 3px solid #fff; }
        .ProjectPage .infoContainer .rightHalf .contactInfo img {
          width: 80px;
          height: 80px;
          align-self: center; }
        .ProjectPage .infoContainer .rightHalf .contactInfo p {
          color: #fff;
          font-size: 20px;
          text-align: center;
          padding-top: 10px; }
      .ProjectPage .infoContainer .rightHalf .contactList {
        width: 25%;
        margin: auto;
        margin-top: 30px; }
        .ProjectPage .infoContainer .rightHalf .contactList li {
          display: flex;
          font-size: 16px;
          margin-top: 15px;
          transition: transform 0.1s ease-in-out; }
          .ProjectPage .infoContainer .rightHalf .contactList li a {
            margin: auto; }
          .ProjectPage .infoContainer .rightHalf .contactList li img {
            width: 50px;
            height: 50px;
            margin: auto; }
            .ProjectPage .infoContainer .rightHalf .contactList li img:hover {
              background-color: #222629;
              border-radius: 50%;
              box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
              transform: scale(1.1); }
