@import '../../Global.scss';

.Footer {
  display: flex;
}

.ProjectPage {
  width: 100vw;
  height: 100%;

  .heroContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    // height: 80vh;
    margin: auto;
    margin-top: 60px;
    background-color: yellow;

    img {
      width: 100%;
      border: 5px solid #000;
    }

    .heroContent {
      position: absolute;
      width: 50%;
      top: 50%;
      left: 50%;
      margin-left: -25%;
      margin-top: -12%;
      padding: 30px;
      border: 3px solid $green;
      background-color: $mediumGrey;

      h1 {
        width: 100%;
        font-size: 300%;
        font-weight: bold;
        text-align: center;
      }

      p {
        width: 90%;
        font-size: 180%;
        line-height: 30px;
        text-align: center;
        margin: auto;
        margin-top: 30px;
      }
    }
  }

  .infoContainer {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    // background-color: yellow;

    .leftHalf {
      width: 72%;

      h2 {
        width: 100%;
        font-size: 300%;
        text-align: center;
      }

      p {
        width: 80%;
        margin: auto;
        font-size: 150%;
        line-height: 30px;
        text-align: center;
        margin-top: 50px;
      }
    }

    .rightHalf {
      width: 24%;

      .contactInfo {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 150px;
        margin: auto;
        margin-top: 10px;
        border-bottom: 3px solid $white;

        img {
          width: 80px;
          height: 80px;
          align-self: center;
        }
        p {
          color: $white;
          font-size: 20px;
          text-align: center;
          padding-top: 10px;
        }
      }

      .contactList {
        width: 25%;  
        // background-color: yellow;    
        margin: auto;
        margin-top: 30px;

        li {
          display: flex;
          font-size: 16px;
          margin-top: 15px;
          transition: transform 0.1s ease-in-out;  

          a {
            margin: auto;
          }

            img {
              width: 50px;
              height: 50px;
              margin: auto;

              &:hover {
                background-color: $darkGrey;
                border-radius: 50%;
                box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
                transform: scale(1.1);
              }
            }

        }
      }            
    }
  }
}