@import './Global.scss';

body {
  background-color: $lightGrey;  //Fallback for browsers without gradient support
  background-image: url('/img/app/background.png'); //Fallback for browsers without gradient support-webkit-
  background-image: url('/img/app/background.png'), linear-gradient(to bottom, $lightGrey 30%, $mediumGrey);
  background-size: 5%;  
}
