@import '../../Global.scss';


.Button {
  display: flex;
  width: 150px;
  height: 50px;
  transition: all 0.1s ease-in-out;
  
  &:hover {
    border-radius: 10px;
    background-color: $darkGrey;
    // box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.01);
    transform: scale(1.08);
  }
  &:hover button {
    color: $darkGrey;
  }
  
  button {
    width: 100px;
    height: 50px;
    background-color: $white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: $mediumGrey;
  }

  img {
    width: 50px;
    height: 50px;
  }
}